button{
  padding: 10px 20px;
}

input{
  outline: none;
  margin-right: 10px;
}

.form-control:focus{
  outline: none!important;
}

.header{
  text-align: center;
}

.inputContainer{  
  display: flex;
  justify-content:center ;
}

.addList{
  font-size: 20px;
}

.addList div .icon{
  margin-right: 15px;
}

